:root {
    --primary-color: #283044;
    --secondary-color: #78a1bb;
    --tertiary-color: #ebf5ee;
    --quaternary-color: #bfa89e;
    --quinary-color: #8b786d
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--tertiary-color);
    background-color: var(--quinary-color);
    align-items: center;
    text-shadow: var(--primary-color) 0 0 10px;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url("../images/Abstract_blue_background7.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 44px;
    padding: 5px 10px;

}

header nav {
    /* margin: 7px 0; */
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

}

header nav ul li {
    /* background-color: var(--secondary-color);
    border: solid 1px var(--primary-color);
    border-radius: 10px; */

}

header ul li a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    margin: 0 15px;
    color: var(--tertiary-color);
}

.hero {
    background-image: url('../images/Abstract_blue_background7.jpg');

    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    height: 148px;
}

.hero h2 {
    text-align: right;
    top: 95px;
    position: relative;
    font-style: italic;
    font-weight: bold;
    font-size: 36px;
    color: var(--tertiary-color);
    text-shadow: 0 0 10px;
    padding: 0 60px 0 0;
    border-bottom: var(--secondary-color) solid 3px;
}
.profile-pic {
    width: 250px;
    margin: 13px;
    box-shadow: 0 0 20px;
    position: fixed;
    z-index: 100;
    border-radius: 15px;
}

main {
    margin-left: 275px;
    margin-right: 275px;
}
.preview-imgs {
    display: flex;
    flex-wrap: wrap;
}
section {
    border-left: var(--quaternary-color) solid 3px;
    border-right: var(--quaternary-color) solid 3px;
    padding: 0 15px;
    margin: 15px 0;
}
section h2 {
    color: var(--primary-color);
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: bold;
}

section p {
    color: var(--primary-color);
    font-size: 17px;
    line-height: 1.3;
}